<div class="container-fluid py-5" style="background-color: #f8f9fa;">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center">
        <h1 class="display-3 mb-4" style="color: #343a40; font-family: 'Roboto', sans-serif;">Benvenuto alla Pagina di Ricerca Meteo</h1>
        <p class="lead" style="color: #6c757d; font-size: 1.25rem;">Puoi consultare le previsioni meteorologiche dettagliate per la tua località o qualsiasi altra area desiderata inserendo il nome nella barra di ricerca e cliccando su "Meteo attuale" per ottenere gli aggiornamenti sul meteo.</p>
        <img src="https://upload.wikimedia.org/wikipedia/it/9/9f/Meteo_it_sigla.png" alt="Meteo" class="img-fluid mt-5 rounded-lg shadow-lg" style="max-width: 100%;">
      </div>
    </div>
  </div>
  
  
